body {
	background-color: #FFF8DC;
	margin-right: 200px;
	margin-left: 200px;
}
.adi {
	margin-bottom: -21px;
}
img {
	height: 255px;
	width: 255px;
	transform: rotate(90deg);
	float: right;
	border: 5px solid #FFF8DC;
	border-radius: 15px;
	box-shadow: 10px 6px 12px #888888;
}
div.contact {
	border: 1px solid #b34d4d;
	background: #b34d4d;
	border-radius: 20px;
}
#summary {
	border: 1px solid #bf4040;
	background: #ff8000;
	border-radius: 20px;
}
h2:hover {
    background-color: #00ffff;
}
.nav {
	background-color: #ffb3b3;
	list-style: none;
	text-align: left;	
	padding: 15px;
	border:1px solid #ff0080

	
}
.nav > li {
	display: inline-block;
	padding: 15px;
	font-size: 12px;
	color:#000000;
	border-radius: 20px;
}


.nav > li > a {
	text-decoration:none;
	color:#000000;
	text-align:center 

}
	
.nav > li > a:hover {
	background-color:#00ffbf;
	
}

	
